$item-radius: 6px;

$breakpoint-desktop: 960px;
$breakpoint-tablet: 719px;
$breakpoint-mobile: 449px;

@mixin hover() {
    &:hover {
        @media (hover: hover) and (pointer: fine) {
            @content;
        }
    }

    &:active {
        @media (hover: none) {
            @content;
        }
    }
}

@mixin item-size() {
    height: 36px;
    min-width: 36px;
}

@mixin item-def-format() {
    @include item-size();
    border-radius: $item-radius;
}

@mixin desktop-between($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

@mixin desktop-max($max) {
  @media (max-width: #{$max}) {
    @content;
  }
}

@mixin desktop-min($min) {
  @media (min-width: #{$min}) {
    @content;
  }
}