$item-radius: 6px;

@mixin hover() {
    &:hover {
        @media (hover: hover) and (pointer: fine) {
            @content;
        }
    }

    &:active {
        @media (hover: none) {
            @content;
        }
    }
}

@mixin inline-center() {
  display: flex; align-items: center; justify-content: center;
}

@mixin item-size() {
    height: 36px;
    min-width: 36px;
}

@mixin border() {
  border: 1px solid var(--brdr-color);
}

@mixin item-def-format() {
    @include item-size();
    border-radius: $item-radius;
}

@mixin desktop-between($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

@mixin desktop-max($max) {
  @media (max-width: #{$max}) {
    @content;
  }
}

@mixin desktop-min($min) {
  @media (min-width: #{$min}) {
    @content;
  }
}