[data-theme="light"] {
    --bg-main: #f6f8fa;           /* GitHub light background */
    --bg-secondary: #0A160F;      /* Card/secondary bg */
    --bg-item-main: #232D27; 
    --bg-item-secondary: #E5F6EC;  
    --brdr-color: #E0E0E0;        /* Border color */
    --ft-main: #2c3d56;           /* Main text */
    --ft-secondary: #656d76;      /* Secondary text */
    --ft-placeholder: #8c959f;    /* Placeholder text */
    --accent: #1DAA61;            /* Accent color */
    --success: #2da44e;
    --danger: #cf222e;
    --warning: #ff8a0d;
    --info: #0969da;
    --white: #ffffff;

    --danger-op-25: #f7dee0;
    --warning-op-25: #e3a62d2a;
    --info-op-25: #096bda29;
    --success-op-25: #2da44f33;
}

:root {
    --item-radius: 6px;
    --block-radius: 9px;

    --block-padding: 12px;
    --item-padding: 9px;

    --gap: 12px;
    --item-gap: 9px;
}

@mixin tx-xs-bold{
  font-size: 10px;
  font-weight: 500;
}

@mixin tx-btn-regular {
  font-size: 11px;
  font-weight: 400;
}

@mixin tx-inpt-bold {
  font-size: 12px;
  font-weight: 400;
}

@mixin tx-sm-regular {
  font-size: 12px;
  font-weight: 400;
}

@mixin tx-md-bold {
  font-size: 16px;
  font-weight: 500;
}

@mixin hover() {
    &:hover {
        @media (hover: hover) and (pointer: fine) {
            @content;
        }
    }

    &:active {
        @media (hover: none) {
            @content;
        }
    }
}

@mixin shadow() {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@mixin inline-center() {
  display: flex; align-items: center; justify-content: center;
}

@mixin item-size() {
    height: 36px;
    min-width: 36px;
}

@mixin border() {
  border: 1px solid var(--brdr-color);
}

@mixin border-bottom() {
  border-bottom: 1px solid var(--brdr-color);
}

@mixin item-def-format() {
    @include item-size();
    border-radius: var(--item-radius);
}

@mixin desktop-between($min, $max) {
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}

@mixin desktop-max($max) {
  @media (max-width: #{$max}) {
    @content;
  }
}

@mixin desktop-min($min) {
  @media (min-width: #{$min}) {
    @content;
  }
}